.btn-outline-secondary
{
    color: #212529;
    border-color: #212529;
}

.btn-outline-secondary:hover
{
    background-color: #212529;
}

.alert-danger
{
    display: block; 
    text-align: center;    
}

#chartdiv {
    width: 90vw;
    height: 70vh;
}

@media (max-width: 560px)
{
    html
    {
        font-size: 50%;
    }
    #chartdiv 
    {        
        height: 50vh;
    }
}

@media (max-width: 280px)
{
    html 
    {
        font-size: 25%;
    }    
}

@media (max-width: 145px)
{
    html 
    {
        font-size: 12%;
    }
    #chartdiv
    {
        height: 40vh;
    }
}

@media (max-width: 120px)
{

}

@media (max-width: 70px)
{
    .history
    {
        font-size: 50%;
    }
}