{% extends "layout.html" %}

{% block head %}
<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
<script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
<script src="//cdn.amcharts.com/lib/5/themes/Responsive.js"></script>
<link rel="stylesheet" href="../static/style.css">

{% endblock %}

{% block title %}Home page{% endblock %}

{% block main %}

    <form action="/" method="post">
        <div class="d-grid gap-2 col-6 mx-auto">
            <div class="input-group">
                <select name="month" class="form-select">
                    <option disabled selected>Select Month</option>
                    <option value="1">January</option>
                    <option value="2">February</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>
                <select name="year" class="form-select">
                    <option disabled selected>Select year</option>
                    <option value="{{ year }}">{{ year }}</option>
                    <option value="{{ year + 1}}">{{ year + 1 }}</option>
                    <option value="{{ year + 2 }}">{{ year + 2 }}</option>
                    <option value="{{ year + 3 }}">{{ year + 3 }}</option>
                    <option value="{{ year + 4 }}">{{ year + 4 }}</option>
                </select>
                <button class="btn btn-outline-secondary" type="submit">Preview</button>
            </div>
        </div>
    </form>
    {% if errorMsg %}
        <div id="errorAlert" class="alert alert-danger" role="alert" >{{ errorMsg }}</div>
    {% endif %}
    {% if expenses %}
    <div class="container-fluid">
        <p class="text-start"><h3>{{ month }}/{{ selected_year }}</h3></p>
        <p class="text-start"><h3>Income: {{ income }}</h3></p>
        <p class="text-start"><h3>Total Spendings: {{ spending }}</h3></p>
    </div>
    <div class="container-fluid" id="chartdiv"></div>
    {% endif %}
{% endblock %}

    {% block script %}

    <script>
        am5.ready(function() {
        
        // Create root element
        // https://www.amcharts.com/docs/v5/getting-started/#Root_element
        var root = am5.Root.new("chartdiv");
        
        // Set themes
        // https://www.amcharts.com/docs/v5/concepts/themes/
        root.setThemes([
        am5themes_Animated.new(root)
        ]);
        
        // Create chart
        // https://www.amcharts.com/docs/v5/charts/percent-charts/pie-chart/
        var chart = root.container.children.push(am5percent.PieChart.new(root, {
        radius: am5.percent(60),
        innerRadius: am5.percent(50),      
        layout: root.verticalLayout,
        }));
        
        // Create series
        // https://www.amcharts.com/docs/v5/charts/percent-charts/pie-chart/#Series
        var series = chart.series.push(am5percent.PieSeries.new(root, {
        name: "Series",
        valueField: "size",
        categoryField: "sector"
        }));
        
        // Set data
        // https://www.amcharts.com/docs/v5/charts/percent-charts/pie-chart/#Setting_data
        series.data.setAll([
        { sector: "Transportation", size: "{{ expenses[0] }}" },
        { sector: "Housing", size: "{{ expenses[1] }}"},
        { sector: "Medical/Health", size: "{{ expenses[2] }}" },
        { sector: "Groceries", size: "{{ expenses[3] }}" },
        { sector: "Insurance", size: "{{ expenses[4] }}" },
        { sector: "Shopping", size: "{{ expenses[5] }}" },
        { sector: "Hobbies/Entertainment", size: "{{ expenses[6] }}" },
        { sector: "Others", size: "{{ expenses[7] }}" } ]);
        
        // Disabling labels and ticks
        series.labels.template.set("forceHidden", true);
        series.ticks.template.set("forceHidden", true);
        
        // Adding gradients
        series.slices.template.set("strokeOpacity", 0);
        series.slices.template.set("fillGradient", am5.RadialGradient.new(root, {
        stops: [{
            brighten: -0.8
        }, {
            brighten: -0.8
        }, {
            brighten: -0.5
        }, {
            brighten: 0
        }, {
            brighten: -0.5
        }]
        }));
        
        // Create legend
        // https://www.amcharts.com/docs/v5/charts/percent-charts/legend-percent-series/
        var legend = chart.children.unshift(am5.Legend.new(root, {
            centerX: am5.percent(50),
            x: am5.percent(50),
            layout: am5.GridLayout.new(root, {
            maxColumns: 2,
            fixedWidthGrid: true    
        })
    }));
        
        legend.data.setAll(series.dataItems);
    
        legend.markers.template.setAll({
            width:8,
            height:8
        })
        
        // Play initial series animation
        // https://www.amcharts.com/docs/v5/concepts/animations/#Animation_of_series
        series.appear(1000, 100);
        
        }); // end am5.ready()
        </script>    
        
    {% endblock %}
