{% extends "layout.html" %}

{% block head %}<link rel="stylesheet" href="../static/style.css">
<!--<script src="{{ url_for('static', filename='js/script.js') }}"></script>-->
<script src="../static/js/script.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

{% endblock %}

{% block title %}Register{% endblock %}

{% block main %}

    <form action="/register" id="form" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirm password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
    <div id="errorAlert" class="alert alert-danger" role="alert" style="display: none;"></div>

{% endblock %}

{% block script %}
<script>
    $(document).ready(function() {

        $('form').on('submit', function(event) {

            $.ajax({
                data : {
                    username : $('#username').val(),
                    password : $('#password').val(),
                    confirmation : $('#confirmation').val()
                },
                type : 'POST',
                url : '/register'
            })
            .done(function(data) {

                if (data.error) {
                    $('#errorAlert').text(data.error).show();
                }
                else {
                    $('#errorAlert').hide();
                }
            });

            event.preventDefault();
            
        });
        
    });
</script>
{% endblock %}

