{% extends "layout.html" %}

{% block title %}Reset Account{% endblock %}

{% block main %}
    <form action="/reset" method="post">
        <div class="input-group">
            <label class="input-group-text form-control" for="inputGroupSelect01">Are you sure you want to reset your account?</label>
            <button class="btn btn-outline-secondary" type="submit">YES</button>
            <button class="btn btn-outline-secondary" type="button" onclick="window.location.href='/'">NO</button>
        </div>
    </form>
{% endblock %}